@keyframes components_editors_shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

@keyframes components_output_shimmer {
  0% { transform: translateX(-100%); }
  100% { transform: translateX(100%); }
}

@keyframes pulse {
  0% {
    opacity: 0;
    transform: scaleY(0);
  }

  25%, 50% {
    opacity: 1;
    transform: scaleY(1);
  }

  75%, 100% {
    transform: scaleY(0.5);
    opacity: 0;
  }
}

.LoadingIcon-circle {
  transform-origin: center;
  fill: currentColor;
  animation-name: pulse;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}

.LoadingIcon-circle:nth-child(2) {
  animation-delay: 0.2s;
}

.LoadingIcon-circle:nth-child(3) {
  animation-delay: 0.4s;
}

.components_search_SearchBarInput::placeholder {
  color: #8D8D97;
}

#carbon {
  width: 100%;
  padding: 12px;
  min-height: 120px;
}

#carbonads {

}

#carbonads .carbon-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#carbonads .carbon-img {
  border-radius: 3px;
  position: relative;
  display: block;
  overflow: hidden;
  margin-bottom: 8px;
}

#carbonads .carbon-img img {
  display: block;
}

#carbonads .carbon-text {
  font-size: 14px;
  color: #E9EDED;
  text-decoration: none;
  text-align: center;
  display: block;
  width: 100%;
}

#carbonads .carbon-poweredby {
  text-decoration: none;
  color: #FC6ECC;
  text-align: right;
  width: 100%;
  position: relative;
  display: inline-block;
  font-size: 12px;
}

.elm-overlay {
  z-index: 20;
}
