.CodeMirror {
  background-color: #292929 !important;
}

.CodeMirror-focused .CodeMirror-activeline-background,
.CodeMirror-focused .CodeMirror-activeline-gutter {
  background-color: #1b1b1b !important;
}

.CodeMirror .CodeMirror-gutters {
  background-color: #292929 !important;
}

.CodeMirror .cm-keyword {
  color: #ff6cc9 !important;
}

.CodeMirror .cm-variable-2,
.CodeMirror .cm-qualifier {
  color: inherit !important;
}

.CodeMirror .CodeMirror-linenumber {
  color: #8D8D97 !important;
}

.CodeMirror-lint-tooltip {
  background-color: #565868 !important;
  color: #e9eded !important;
  border: #8D8D97 !important;
  padding: 12px !important;
  box-shadow: -6px 6px 15px -4px rgba(0, 0, 0, 0.5);
  border-radius: 3px !important;
}

.CodeMirror-lint-marker-warning, .CodeMirror-lint-message-warning,
.CodeMirror-lint-message-error, .CodeMirror-lint-message-warning {
  background-image: none !important;
  padding: 0 !important;
}

.CodeMirror-lint-mark-error, .CodeMirror-lint-mark-warning {
    background-image: none !important;
    border-bottom-style: dotted;
}

.CodeMirror-lint-mark-error {
  border-bottom-color: #FF5369;
}

.CodeMirror-lint-mark-warning {
  border-bottom-color: #DECB6B;
}


.CodeMirror .cm-tag.cm-bracket {
  color: #82b1ff;
}

.CodeMirror .cm-attribute {
  color: #decb6b;
}
