<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/custom-elements/1.0.8/custom-elements.min.js"></script>
    <script src="<%= asset(@conn, :editor_js) %>"></script>
    <%= if production?() do %>
      <link rel="stylesheet" href="<%= asset(@conn, :editor_css) %>" />
    <% end %>
  </head>
  <body></body>
</html>
